{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{=<% %>=}}
<div class="questionnaire-module">
    <core-course-module-description description="<%questionnaire.questionnaire.intro%>">
    </core-course-module-description>
    <%#completed%>
    <ion-card>
        <ion-card-content>
            {{ 'plugin.mod_questionnaire.submitted' | translate }} <%complete_userdate%>
        </ion-card-content>
    </ion-card>
    <%/completed%>
    <div>
        <ion-card>
            <ion-list>
            <%^emptypage%>
                <%#pagequestions%>
                    <ion-list-header text-wrap>
                        <%#questionnaire.questionnaire.autonumquestions%><ion-badge color="dark" item-start><%info.qnum%></ion-badge><%/questionnaire.questionnaire.autonumquestions%>
                        <core-format-text text="<%info.content%>"></core-format-text>
                        <%#info.required%><ion-badge item-end color="danger">{{ 'plugin.mod_questionnaire.required' | translate }}</ion-badge><%/info.required%>
                    </ion-list-header>
                    
                    <%#info.isselect%>
                    <ion-list>
                        <ion-item>
                            <ion-select 
                                <%#completed%> disabled="true"<%/completed%> 
                                [(ngModel)]="CONTENT_OTHERDATA.responses['<%info.fieldkey%>']"
                                interface="alert"
                                data-currentinput="<%info.current_required_resp%>"
                                data-finalinput="<%info.final_required_resp%>"
                                style="width:100%; max-width: 100%;">
                                    <ion-option selected disabled value="">
                                        Select One
                                    </ion-option>
                                    <%#choices%>
                                        <ion-option
                                            value="<%id%>">
                                            <%content%>
                                        </ion-option>
                                    <%/choices%>
                            </ion-select>
                        </ion-item>
                    </ion-list>
                    <%/info.isselect%>

                    <%#info.isdate%>
                    <ion-list>
                        <ion-item>
                            <ion-datetime [(ngModel)]="CONTENT_OTHERDATA.responses['<%info.fieldkey%>']" 
                                display-format="MM/YYYY" picker-format="MMMM YYYY" placeholder="Select Date"
                                <%#completed%> disabled="true"<%/completed%>
                                data-currentinput="<%info.current_required_resp%>"
                                data-finalinput="<%info.final_required_resp%>">
                            </ion-datetime>
                        </ion-item>
                    </ion-list>
                    <%/info.isdate%>

                    <%#info.isnumeric%>
                    <ion-list>
                        <ion-item>
                            <ion-input [(ngModel)]="CONTENT_OTHERDATA.responses['<%info.fieldkey%>']" 
                            type="tel" 
                            placeholder="1"
                            maxlength="3"
                            <%#completed%> disabled="true"<%/completed%>
                            data-currentinput="<%info.current_required_resp%>"
                            data-finalinput="<%info.final_required_resp%>">
                            </ion-input>
                        </ion-item>
                    </ion-list>
                    <%/info.isnumeric%>

                    <%#info.isbool%>
                        <ion-list radio-group [(ngModel)]="CONTENT_OTHERDATA.responses['<%info.fieldkey%>']">
                            <%#choices%>
                                <ion-item>
                                    <ion-label><core-format-text text="<%content%>"></core-format-text></ion-label>
                                    <ion-radio<%#value%> checked="true"<%/value%>
                                    value="<%choice_id%>"
                                    onclick="window.clicked_input([ '<%info.current_required_resp%>', '<%info.final_required_resp%>' ])"
                                    <%#completed%> disabled="true"<%/completed%>></ion-radio>
                                </ion-item>
                            <%/choices%>
                        </ion-list>
                    <%/info.isbool%>
                    <%#info.isradiobutton%>
                    
                        <ion-list radio-group [(ngModel)]="CONTENT_OTHERDATA.responses['<%info.fieldkey%>']">
                            <%#choices%>
                                <ion-item>
                                    <ion-label><core-format-text text="<%content%>"></core-format-text></ion-label>
                                        <ion-radio<%#value%> checked="true"<%/value%>
                                        value="<%choice_id%>"
                                        onclick="window.clicked_input([ '<%info.current_required_resp%>', '<%info.final_required_resp%>' ])"
                                        <%#completed%> disabled="true"<%/completed%>></ion-radio>
                                </ion-item>
                            <%/choices%>
                        </ion-list>
                    <%/info.isradiobutton%>
                    <%#info.ischeckbox%>
                        <ion-list>
                        <%#choices%>
                            <ion-item>
                                <ion-label><core-format-text text="<%content%>"></core-format-text></ion-label>
                                    <ion-checkbox [(ngModel)]="CONTENT_OTHERDATA.responses['response_<%info.type_id%>_<%info.id%>_<%id%>']" 
                                        <%#completed%>disabled="true"<%/completed%>
                                        <%#value%>checked="true" class="questionnaire-checkbox-checked-<%pagenum%>"<%/value%>
                                        data-finalinput="<%info.final_required_resp%>"
                                        data-currentinput="<%info.current_required_resp%>"
                                    ></ion-checkbox>
                            </ion-item>
                        <%/choices%>
                        </ion-list>
                    <%/info.ischeckbox%>
                    <%#info.istextessay%>
                    <ion-list>
                        <ion-item>
                            <%^completed%>
                                <ion-textarea aria-multiline="true" 
                                    [(ngModel)]="CONTENT_OTHERDATA.responses['<%info.fieldkey%>']" 
                                    core-auto-rows
                                    <%#info.current_required_resp%>
                                    data-finalinput="<%info.final_required_resp%>"
                                    data-currentinput="<%info.current_required_resp%>"
                                    <%/info.current_required_resp%>
                                    class="questionnaire-text"
                                    ></ion-textarea>
                            <%/completed%>
                            <%#completed%>
                                <ion-textarea aria-multiline="true" disabled="true" [(ngModel)]="CONTENT_OTHERDATA.responses['<%info.fieldkey%>']" core-auto-rows></ion-textarea>
                            <%/completed%>
                        </ion-item>
                    </ion-list>
                    <%/info.istextessay%>
                    <%#info.israte%>
                        <%#choices%>
                            <ion-list-header class="questionnaire-badge-range" text-wrap>
                                <core-format-text text="<%content%>"></core-format-text>
                                <ion-badge item-end <%#na%>class="na-applicable <%#value%>na-completed<%/value%>" <%/na%> data-final="<%max%>">{{ CONTENT_OTHERDATA.responses['response_<%info.type_id%>_<%info.id%>_<%id%>'] }}</ion-badge>
                                <span class="range-ranges" hidden>{{ CONTENT_OTHERDATA.responses['response_<%info.type_id%>_<%info.id%>_<%id%>'] }}</span>
                                <span class="range-max" hidden><%max%></span>
                            </ion-list-header>
                            <ion-item>
                                <ion-range min="<%min%>" max="<%max%>"
                                    snaps="true" pin="true" color="secondary"
                                    [(ngModel)]="CONTENT_OTHERDATA.responses['response_<%info.type_id%>_<%info.id%>_<%id%>']"
                                    value="1"
                                    <%#value%> disabled <%/value%>
                                    data-final="<%max%>"
                                    <%#na%>data-na="true"<%/na%>
                                    data-finalinput="<%info.final_required_resp%>"
                                    data-currentinput="<%current_required_resp%>"
                                    >
                                    <ion-label range-left hidden><%minstr%></ion-label>
                                    <ion-label range-right hidden><%#na%><ion-icon name="eye-off">n/a</ion-icon><%/na%><%^na%><%maxstr%><%/na%></ion-label>
                                </ion-range>
                            </ion-item>
                        <%/choices%>
                    <%/info.israte%>
                <%/pagequestions%>
            <%/emptypage%>
            <%#emptypage%>
                <ion-list-header text-wrap>
                    <core-format-text text="<%emptypage_content%>"></core-format-text>
                </ion-list-header>
            <%/emptypage%>
            <%#nextpage%>
                <button ion-button item-end outline icon-end block core-site-plugins-call-ws-new-content next-page
                    name="mod_questionnaire_submit_questionnaire_branching"
                    method="mobile_view_activity_branching"
                    [params]="{
                                        questionnaireid: <%questionnaire.questionnaire.id%>,
                                        surveyid: <%questionnaire.questionnaire.questionnaireid%>,
                                        userid: <%userid%>,
                                        cmid: <%cmid%>,
                                        sec: <%pagenum%>,
                                        completed: <%completed%>,
                                        submit: 0,
                                        responses: CoreUtilsProvider.objectToArrayOfObjects(CONTENT_OTHERDATA.responses, 'name', 'value')
                                    }"
                    [args]="{
                                        cmid: <%cmid%>,
                                        pagenum: <%nextpage%>
                                    }"
                    type="submit"
                    class="questionnaire next-button"
                >{{ 'plugin.mod_questionnaire.nextpage' | translate }} <ion-icon name="arrow-forward"></ion-icon></button>
            <%/nextpage%>
            <%^completed%>
                <%^nextpage%>
                    <button ion-button block core-site-plugins-call-ws
                            name="mod_questionnaire_submit_questionnaire_branching"
                            [params]="{
                                                questionnaireid: <%questionnaire.questionnaire.id%>,
                                                surveyid: <%questionnaire.questionnaire.questionnaireid%>,
                                                userid: <%userid%>,
                                                cmid: <%cmid%>,
                                                sec: <%pagenum%>,
                                                completed: <%completed%>,
                                                submit: 1,
                                                responses: CoreUtilsProvider.objectToArrayOfObjects(CONTENT_OTHERDATA.responses, 'name', 'value')
                                            }"
                            confirmMessage="{{ 'plugin.mod_questionnaire.areyousure' | translate }}"
                            refreshOnSuccess="true"
                            type="submit"
                            class="questionnaire submit-button"
                    >{{ 'plugin.mod_questionnaire.savechanges' | translate }}</button>
                <%/nextpage%>
            <%/completed%>
            <div class="hidden-submit-button-check-{{CONTENT_OTHERDATA.disable_save}}-<%pagenum%>"></div>
            <div class="pagenum-current" hidden><%pagenum%></div>
            </ion-list>
        </ion-card>
    </div>
</div>